* {margin: 0;	padding: 0;}
*,*:before,*:after{box-sizing: border-box;}
a,a:visited,a:hover{text-decoration: none;}
ol, ul, li{list-style: none;}

body {
	background-color: #ededed;
	padding: 5%;
}

body, input, button {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 22px;
}

input, button {
	padding: 10px 30px;
}

input {
	border: 1px solid #999;
}

button {
	border: 0;
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

.contacts_list li {
	background-color: #fff;
	padding: 2%;
	border-radius: 10px;
	margin: 20px 0;
	clear: both;
}

.contacts_list id {
	font-size: 42px;
	font-weight: bold;
	color: #ededed;
	float: left;
	margin-right: 20px;
}

.contacts_list .name {
	font-weight: bold;
}